#parent {
  border: none;
  background: transparent;
  padding: 0;
  margin: 0;
}

ul,
li {
  margin: 10px;
  padding: 10px;
  background-color: white;
  border-radius: 4px;
  list-style: none;
}

li {
  // border: 1px solid black;
  // overflow: auto;
}

.item {
  &-dropzone {
    border: 1px dashed grey;
    min-height: 20px;

    &.parent {
      border: none
    }
  }

  &-drag {
    &-handle {
      // display: inline-flex;
      align-items: center;
    }

    &-preview {
      box-sizing: border-box;
      border-radius: 4px;
      padding: 10px;
      box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
      background-color: white;
    }
  }
}

.cdk-drop-list-dragging {
  background: #e6e9eb;
}

.cdk-drag-placeholder {
  opacity: 0;
  height: 0;
}

::ng-deep .attribute-menu.mat-mdc-menu-panel {
  max-height: 300px;
  overflow-y: auto;
  width: 180px;
  .mat-mdc-menu-content{
    width: 175px;
  }
}

.radio-groups {
  mat-radio-button:first-child {
    margin-left: 0 !important;
  }

  mat-radio-button {
    margin-left: 4px;

    .mdc-form-field .mdc-label {
      font-size: 12px;
    }
  }
}

.down-arrow-icon {
  color: rgba(0, 0, 0, 0.54);
}

.close-button {
  width: 23px;
  min-width: 23px;
}

.items-center {
  margin-top: 20px;
}

.close-button[_ngcontent-ng-c2625581465] {
  width: 23px;
  min-width: 23px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.delete-icon {
  display: inline-table;
  font-size: 22px;
  margin: 0;
}

.example-container {
  text-align: center;
}

.disableMenu {
  pointer-events: none;
}

.selected-item {
  background-color: rgba(0, 0, 0, 0.04);
  color: #c4312b;
}