<div style="margin-bottom: 20px;" class="flex">
    <form [formGroup]="listForm" class="flex">
        <div class="flex items-center">
            <div class="col-span-1">
                <mat-label class="text-sm"> Model </mat-label>
            </div>
            <div class="col-span-6 ml-2">
                <mat-form-field [appearance]="'outline'" class="full-width ">
                    <mat-select matNativeControl (valueChange)="handleEntityByModels($event)"
                        [(value)]="defaultModelId">
                        <mat-option>
                            <ngx-mat-select-search placeholderLabel="Search"
                                formControlName="modelFilter"></ngx-mat-select-search>
                        </mat-option>
                        <mat-option value="" class="option">--Select--</mat-option>
                        <mat-option *ngFor="let model of filteredModels" [value]="model.id">
                            {{model.displayName}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
        </div>

        <div class="flex items-center ml-4">
            <div class="col-span-1">
                <mat-label class="text-sm"> Entity </mat-label>
            </div>
            <div class="col-span-6 ml-2">
                <mat-form-field [appearance]="'outline'" class="full-width ">
                    <mat-select matNativeControl
                        [(value)]="defaultEntity" (selectionChange)="handleHierarchyByEntityId($event)">
                        <mat-option>
                            <ngx-mat-select-search placeholderLabel="Search"
                                formControlName="entityFilter"></ngx-mat-select-search>
                        </mat-option>
                        <mat-option value="" class="option">--Select--</mat-option>
                        <mat-option *ngFor="let entity of filteredEntities" [value]="entity.id">
                            {{entity.displayName}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
        </div>

        <div class="flex items-center ml-4">
            <div class="col-span-1 ml-2">
                <mat-label class="text-sm"> Hierarchy </mat-label>
            </div>
            <div class="col-span-6 ml-2">
                <mat-form-field [appearance]="'outline'" class="full-width ">
                    <mat-select matNativeControl (valueChange)="handleHierarchy($event)" [(value)]="defaultHierarchy">
                        <mat-option>
                            <ngx-mat-select-search placeholderLabel="Search"
                                formControlName="hierarchyFilter"></ngx-mat-select-search>
                        </mat-option>
                        <mat-option value="" class="option">--Select--</mat-option>
                        <mat-option *ngFor="let hierarchy of hierarchyList" [value]="hierarchy.id">
                            {{hierarchy.name}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
        </div>

        <div class="flex items-center ml-4">
            <div class="col-span-1">
                <mat-label class="text-sm"> Role </mat-label>
            </div>
            <div class="col-span-6 ml-2">
                <mat-form-field [appearance]="'outline'" class="full-width ">
                    <mat-select matNativeControl (selectionChange)="onSelectRole($event)" [(value)]="selectedRole">
                        <mat-option>
                            <ngx-mat-select-search placeholderLabel="Search"
                                formControlName="roleFilter"></ngx-mat-select-search>
                        </mat-option>
                        <!-- <mat-option value="" class="option">--Select--</mat-option> -->
                        <mat-option matTooltipClass="custom-tooltip" matTooltipDisabled="{{role.name.length < 25}}" matTooltipPosition="right" matTooltip="{{role.name}}"  *ngFor="let role of roleList" [value]="role.name">
                            {{role.name}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
        </div>

    </form>
</div>


<div class="flex grid grid-cols-5 gap-4">
    <div class="col-span-2">
        <ngx-datatable
         #table 
        style="min-width: 300px; min-height: calc(100vh - 10rem);"              class="material striped tableScroll"
            [columnMode]="ColumnMode.flex"  
            [headerHeight]="50" 
            [footerHeight]="0" 
            [rowHeight]="50"
            [rows]="hierarchyPreviewNodes" 
            [scrollbarV]="true" 
            [scrollbarH]="true" 
            [treeFromRelation]="'parentGrpId'"
            (treeAction)="onTreeActionPreview($event)" 
            [treeToRelation]="'grpId'">
            <ngx-datatable-column name="Name" [flexGrow]="2" [isTreeColumn]="true">
                <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
                    <span style="display: inline-flex" class="ml-5">
                        <mat-icon *ngIf="row.name !== 'Show more...'">account_tree</mat-icon>
                        <span class="ml-4" [ngClass]="row.name === 'Show more...' ? 'item-pointer' : ''" mat-button [matMenuTriggerFor]="row.name !== 'Show more...' && hierarchyLevels.includes(row?.level) ? menu : null" (click)="handleSelectItem(row)"> {{ value }}</span>
                              <mat-menu #menu="matMenu">
                                <ng-container >
                                  <button mat-menu-item *ngFor="let item of dropDownItems" (click)="onSelect(item.value, row)">
                                    {{ item.name }}
                                  </button>
                                </ng-container>
                              </mat-menu>
                    </span>
                </ng-template>
            </ngx-datatable-column>
        </ngx-datatable>
    </div>

    <div class="col-span-3">
        <sp-data-grid 
            #dataGrid 
            class="w-full h-full" 
            [title]="'Hierarchy member summary'" 
            [columnMode]="columnMode"
            [enableRowIndex]="false" 
            [isArray]="false" 
            [headers]="headers"
            [rows]="rows" 
            [rowHeight]="40"
            [headerHeight]="40"
            [footerHeight]="30" 
            [virtualScroll]="false"
            [limit]="pageSize" 
            [count]="totalElement"
            [selectionType]="selectionType"
            [isExternalPaging]="true" 
            [isExternalSorting]="true"
            (itemSelected)="onItemSelected($event)"
            (paginate)="onPaginate($event)"
            (sort)="onSort($event)"
            >
        </sp-data-grid>
    </div>
</div>