.button.text-white.h-full.flex.flex-row.cursor-pointer.pl-2.pr-1.border-r-primary-light.border-solid {
  border-right: 0px !important;
}
.mat-mdc-header-row {
  height: 2px;
  background: var(--primary-dark);
  color: white;
}
