<h1 mat-dialog-title>
  <strong>Settings</strong>
</h1>

<div mat-dialog-content class="grid">
  <mat-card style="padding: 20px" class="drop-shadow">
    <mat-label class="mb-2"><strong>This Entity</strong></mat-label>
    <mat-form-field appearance="outline">
      <mat-label> Records per page</mat-label>
      <input [(ngModel)]="noOfRecords" matInput type="number" />
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Freeze columns</mat-label>
      <input [(ngModel)]="freeze" matInput type="number" />
    </mat-form-field>
  </mat-card>
  <mat-card style="padding: 20px; margin-top: 4px" class="drop-shadow">
    <mat-label class="mb-2"><strong>All Entity</strong></mat-label>
    <mat-form-field appearance="outline">
      <mat-label> Display format</mat-label>
      <mat-select [(ngModel)]="displayFormat">
        <mat-option value="name">Code</mat-option>
        <mat-option value="id">Code &lcub;Name&rcub;</mat-option>
        <mat-option value="both">Name&lcub;Code&rcub;</mat-option>
      </mat-select>
    </mat-form-field>
    <mat-checkbox [(ngModel)]="showSystem">Show System Attribute</mat-checkbox>
  </mat-card>
</div>
<div mat-dialog-actions>
  <button mat-flat-button color="primary" (click)="save()">Ok</button>
  <button
    mat-button
    (click)="closeDialog()"
    mat-flat-button
    color="accent"
    type="button"
  >
    Cancel
  </button>
</div>
