<div class="container">
  <label  class="text-secondary-dark m-2 font-bold text-lg">
    <mat-icon
    style="height: 29px; width: 30px; font-size: 28px;padding-top: 6px;"
    class="text-primary-dark justify-self-center"
    >cloud_upload</mat-icon
  > Upload
  </label>

  <div mat-dialog-content>
    <div class="grid grid-flow-row ">
      <input
        class="bg-primary-default text-white"
        type="file"
        multiple="false"
        #file
        (change)="uploadFile($event)"
        accept=".xls,.xlsx,.csv"
        required
      />
      <mat-error class="error"
      *ngIf="errorMsg"
      class="text-sm italic text-red-500"
      >Selected file format is not supported</mat-error
    >
    </div>
  </div>

  <div mat-dialog-actions class="flex flex-row items-end">
    <button mat-raised-button color="accent" (click)="closeDialog()">
      Cancel
    </button>
    <button mat-raised-button color="primary" (click)="doAction()" [disabled]="isDisabled">
      Upload
    </button>
  </div>
</div>
