  <mat-drawer-container style="height:calc(100vh - 4rem - 13px);" >
    <mat-drawer mode="side" opened class="drawer">
      <div >
        <span class="font-bold">Settings</span>
        <button onclick="menuChanged('entityOrder')" class="flex justify-items-center menu mt-2">
          <mat-icon class="mr-1">table_chart</mat-icon><span class="mt-1">Entity Settings</span>
        </button>
      </div>
    </mat-drawer>
    <mat-drawer-content class="pl-2"
      ><sp-entity-settings></sp-entity-settings
        ></mat-drawer-content>
  </mat-drawer-container>
