  <mat-drawer-container style="height:calc(100vh - 4rem - 13px);" >
    <mat-drawer mode="side" opened class="drawer">
      <div >
        <span class="font-bold">Settings</span>
        <button onclick="menuChanged('entityOrder')" class="flex justify-items-center menu mt-2">
          <mat-icon class="mr-1" style="transform: rotate(90deg)">compare_arrows</mat-icon><span class="mt-1">Entity Order</span>
        </button>
      </div>
    </mat-drawer>
    <mat-drawer-content class="p-8"
      ><sp-entity-order></sp-entity-order
    ></mat-drawer-content>
  </mat-drawer-container>
