.grid
{
    display: grid;
    grid-template-columns: 68% 30%;
    column-gap: 1rem;
    padding: 0.5rem;
}
.box
{
    height:calc(100vh - 4rem - 13px - 16rem) ;
    display: flex;
    flex-direction: column;
    overflow: auto;
    background-color: white;
    box-shadow: 4px 4px 4px 4px lightgray;
  }
.header
{
  background-color: var(--primary-default);
  color:white;
  padding:0.5rem;
  border-radius: 4px 4px 0 0;
}