<sp-vbox>
  <sp-hbox>
    <mat-form-field appearance="outline">
      <mat-label>User Role</mat-label>
      <mat-select (selectionChange)="onSelectRole($event)" [(value)]="selectedRole">
        <mat-option *ngFor="let item of roleList" [value]="item">{{item.name}}</mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Apps</mat-label>
      <mat-select (selectionChange)="onSelectApp($event)" [(value)]="selectedApp">
        <mat-option *ngFor="let item of AppList" [value]="item">{{item.name}}</mat-option>
      </mat-select>
    </mat-form-field>
    <button mat-raised-button color="accent" (click)="onClearClick()">
      Clear
    </button>
    <button mat-raised-button color="primary" (click)="onSaveClick()">w
      Save
    </button>
  </sp-hbox>
  <sp-vbox [noGap]="true" [marginX]="true">
    <div class="w-full bg-primary-default h-10 rounded-t-md flex flex-row items-center justify-between pl-5 pr-5">
      <span class="float-left text-white font-medium">App View</span>
      <div class="flex flex-row"><ng-content></ng-content></div>
    </div>
    <ngx-datatable class="material striped tableScroll" style="height: calc(100vh - 16rem);" [columnMode]="ColumnMode.flex"
      [headerHeight]="50" [footerHeight]="0" [rowHeight]="60" [rows]="AppList" [scrollbarV]="true"
      [scrollbarH]="true" (treeAction)="onTreeAction($event)"
      >
      <!-- <ngx-datatable-column name="Id" [width]="80"></ngx-datatable-column> -->
      <ngx-datatable-column name="Display Name" prop="displayName" [canAutoResize]="true" [flexGrow]="3"
        [treeLevelIndent]="20">
        <ng-template let-row="row" let-value="value" let-rowIndex="rowIndex" ngx-datatable-cell-template>
          <span style="display: inline-flex" class="ml-5">
            <mat-icon>{{ row.icon }}</mat-icon>
            <span class="ml-2" *ngIf="row.level < 2">
              {{ row.displayName }}</span>
            <span class="ml-2" *ngIf="row.level === 2"> {{ row.name }}</span>
          </span>
        </ng-template>
      </ngx-datatable-column>
      <ngx-datatable-column name="Permission" prop="permission" [canAutoResize]="true" [flexGrow]="1">
        <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-row="row" let-value="value">
          <!-- <span (dblclick)="editing[rowIndex] = true" style="width: 300px;" *ngIf="!editing[rowIndex]">
              {{ value }}
            </span>   *ngIf="editing[rowIndex]"   (blur)="editing[rowIndex] = false"-->

          <!-- <mat-form-field appearance="outline" subscriptSizing="dynamic" class="w-min"> -->
            <!-- <mat-select (selectionChange)="updateValue($event, rowIndex,row)" [value]="row.permission">
              <ng-container *ngFor="let item of getPermissions() ">
                <mat-option value="{{item}}" style="display: none;" *ngIf="(item === 'PARTIAL')"
                  disabled>{{item}}</mat-option>
                <mat-option value="{{item}}" *ngIf="item !== 'PARTIAL'">{{item}}</mat-option>
              </ng-container>
            </mat-select> -->
          <!-- </mat-form-field> -->
        </ng-template>
      </ngx-datatable-column>
    </ngx-datatable>
  </sp-vbox>
  <!-- </sp-hbox> -->
</sp-vbox>