<div class="flex flex-col container p-5 h-fit">
  <div class="page-header">Change Tracker</div>

  <button mat-icon-button color="transparent" class="close p-5" (click)="onClose()">
    <mat-icon>close</mat-icon>
  </button>

  <sp-data-grid
        #dataGrid
        [title]="this.currentSelectedEntity.displayName || 'Data'"
        [enableRowIndex]="false"
        [isArray]="false"
        [headers]="headers"
        [rows]="rows"
        [rowHeight]="40"
        [headerHeight]="40"
        [footerHeight]="40"
        [columnMode]="columnMode"
        [virtualScroll]="false"
        [selectionType]="selectionType"
        [count]="totalElements"
        [limit]="limit"
        [isExternalPaging]="true"
        [isExternalSorting]="true"
        [sortType]="sortType"
        (paginate)="onPaginate($event)"
        (sort)="onSort($event)"
      >
    <!-- <ng-container>

    </ng-container> -->
  </sp-data-grid>
</div>
<!-- (itemSelected)="onItemSelected($event)" -->