.container {
  height: 90vh;
  width: 80vw;
}

.close {
  right: 2px;
  position: absolute;
  top: 2px;
}

.mat-mdc-icon-button ::ng-deep .mat-mdc-button-persistent-ripple {
  display: none;
}
.grid{
  height:40vh;
}

.annotations{
  height:100px;
  height:180px;
  overflow: auto;
  .annotations-data{
    height:10px;
  }
}