<sp-one-col>
    <!-- <query-builder [(ngModel)]="query" [config]="config"></query-builder> -->
    <sp-data-grid
      class="w-full h-full"
      #dataGrid
      title="Notifications"
      [enableRowIndex]="false"
      [isArray]="false"
      [virtualScroll]="false"
      [headers]="headers"
      [rows]="rows"
      [rowHeight]="30"
      [headerHeight]="30"
      [footerHeight]="30"
      [columnMode]="columnMode"
      [virtualScroll]="false"
      [selectionType]="selectionType"
      [limit]="limit"
      [isExternalPaging]="true"
      [isExternalSorting]="false"
      [sortType]="sortType"
      [count]="totalElements"
      (paginate)="onPaginate($event)"
      (itemSelected)="onItemSelected($event)"
      [selected]="!!selectedItem ? [selectedItem] : []"
      (sort)="onSort($event)"
    >
    <sp-header-action
    icon="filter_list"
    [text]="!query ? 'Filter' : ''"
    (actionClick)="onFilter()"
    [disabled]="this.headers.length === 0"
    spToolTipRenderer
    [contentTemplate]="template"
    [customPosition]="true"
    [showToolTip]="!!query"
  ></sp-header-action>

  <ng-template #template>
    <div [innerHTML]="getToolTipTemplate(query)"></div>
  </ng-template>

  <sp-header-action
    icon="filter_list_off"
    text="Clear Filter"
    title="Clear Filter"
    [disabled]="
      !this.query
    "
    (actionClick)="onClearFilter()"
  ></sp-header-action>
    </sp-data-grid>
    </sp-one-col>