<sp-one-col>
  <sp-data-grid-tree
    class="w-full h-full"
    #dataGrid
    title="Model View"
    [enableRowIndex]="false"
    [isArray]="false"
    [headers]="headers"
    [rows]="rows"
    [rowHeight]="28"
    [headerHeight]="30"
    [footerHeight]="0"
    [columnMode]="columnMode"
    [virtualScroll]="true"
    [selectionType]="selectionType"
    [limit]="10"
    [isExternalPaging]="false"
    [isExternalSorting]="false"
    [sortType]="sortType"
    [count]="rows.length"
    (paginate)="onPaginate($event)"
    (itemSelected)="onItemSelected($event)"
    (onTreeExpand)="onTreeAction($event)"
    (sort)="onSort($event)"
    (redirect)="onView()"
  >
    <ng-container>

      <sp-header-action
        icon="sync"
        text="Refresh"
        title="Refresh"
        (actionClick)="onRefresh()"
      ></sp-header-action>
<!-- 
      <sp-header-action
        icon="visibility"
        text="View"
        title="View Entity"
        [disabled]="selectedItem == null"
        (actionClick)="onView()"
      ></sp-header-action> -->

    </ng-container>
  </sp-data-grid-tree>
</sp-one-col>