<!-- <div class="flex flex-row flex-wrap space-x-2 w-full pl-2 pr-2 pb-2">
  <mat-form-field appearance="outline" class="flex-grow">
    <mat-label>Model</mat-label>
    <mat-select
      [value]="selectedModelValue"
      class="w-1/2 pl-2 pr-2"
      (selectionChange)="onModelSelectionChange($event)"
    >
      <mat-option value="">--Select--</mat-option>
      <mat-option *ngFor="let item of this.models" [value]="item.id">
        {{ item.displayName }}
      </mat-option>
    </mat-select>
    <mat-icon matSuffix>schema</mat-icon>
  </mat-form-field>
  <mat-form-field appearance="outline" class="flex-grow">
    <mat-label>Entity</mat-label>
    <mat-select
      matNativeControl
      [value]="selectedEntity"
      class="w-1/2 pl-2 pr-2"
      (selectionChange)="onEntitySelectionChange($event)"
    >
      <mat-option value="">--Select--</mat-option>
      <mat-option *ngFor="let item of this.entities" [value]="item">
        {{ item.displayName }}
      </mat-option>
    </mat-select>
    <mat-icon matSuffix>table_chart</mat-icon>
  </mat-form-field>
</div> -->

<div class="flex flex-row space-x-2 items-center">
  <label>Model</label>
  <mat-form-field class="flex-grow">
    <mat-select
      [value]="selectedModelValue"
      (selectionChange)="onModelSelectionChange($event)"
    >
      <mat-option value="">--Select--</mat-option>
      <mat-option *ngFor="let item of this.models" [value]="item.id">
        {{ item.displayName }}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <label>Entity</label>
  <mat-form-field class="flex-grow">
    <mat-select
      matNativeControl
      [value]="selectedEntity"
      (selectionChange)="onEntitySelectionChange($event)"
    >
      <mat-option value="">--Select--</mat-option>
      <mat-option *ngFor="let item of this.entities" [value]="item">
        {{ item.displayName }}
      </mat-option>
    </mat-select>
  </mat-form-field>
</div>
