<ng-container>
  <sp-loader />
  <div *ngIf="path !== '/'" class="flex flex-row h-screen">
    <sp-sidebar
      [data]="sidebarData"
      (onToggleSideNav)="onToggleSideNav($event)"
    />
    <div class="flex flex-col flex-grow h-screen overflow-auto">
      <sp-header [appname]="currentAppName" [menuData]="menuData" />

      <sp-body [collapsed]="isSideNavCollapsed" [screenWidth]="screenWidth">
        <router-outlet (activate)="changeOfRoutes()"></router-outlet>
      </sp-body>
      <sp-footer></sp-footer>
    </div>
  </div>
  <ng-container *ngIf="path === '/'">
    <router-outlet (activate)="changeOfRoutes()"></router-outlet>
  </ng-container>
</ng-container>
