.outer {
  height: 600px;
  width: 1000px;
}
.close {
  right: 2px;
  position: absolute;
  top: 2px;
}

.mat-mdc-icon-button ::ng-deep .mat-mdc-button-persistent-ripple {
  display: none;
}
.container {
  width: 990px;
  height: 500px;
  padding: 10px;
}
