<sp-one-col>
  <!-- <query-builder [(ngModel)]="query" [config]="config"></query-builder> -->
  <sp-data-grid
    class="w-full h-full"
    #dataGrid
    title="Model List"
    [enableRowIndex]="false"
    [isArray]="false"
    [virtualScroll]="false"
    [headers]="headers"
    [rows]="rows"
    [rowHeight]="20"
    [headerHeight]="30"
    [footerHeight]="0"
    [columnMode]="columnMode"
    [virtualScroll]="true"
    [selectionType]="selectionType"
    [limit]="10"
    [isExternalPaging]="true"
    [isExternalSorting]="false"
    [sortType]="sortType"
    [count]="totalElements"
    (paginate)="onPaginate($event)"
    (itemSelected)="onItemSelected($event)"
    [selected]="!!selectedItem ? [selectedItem] : []"
    (sort)="onSort($event)"
  >
    <ng-container>
      <sp-header-action
        icon="add_box"
        text="Add"
        title="Add Model"
        (actionClick)="onAdd()"
      ></sp-header-action>

      <sp-header-action
      icon="filter_list"
      [text]="!query ? 'Filter' : ''"
      (actionClick)="onFilter()"
      [disabled]="this.headers.length === 0"
      spToolTipRenderer
      [contentTemplate]="template"
      [customPosition]="true"
      [showToolTip]="!!query"
    ></sp-header-action>

    <ng-template #template>
      <div [innerHTML]="getToolTipTemplate(query)"></div>
    </ng-template>

    <sp-header-action
      icon="filter_list_off"
      text="Clear Filter"
      title="Clear Filter"
      [disabled]="
        !this.query
      "
      (actionClick)="onClearFilter()"
    ></sp-header-action>

      <sp-header-action
        icon="edit"
        text="Edit"
        title="Edit Model"
        [disabled]="selectedItem == null"
        (actionClick)="onEdit()"
      ></sp-header-action>

      <sp-header-action
        icon="delete"
        text="Delete"
        title="Delete Model"
        [disabled]="selectedItem == null"
        (actionClick)="onDelete()"
      ></sp-header-action>

      <!-- <sp-header-action
        icon="clear"
        text="Clear"
        title="Clear Selection."
        [disabled]="selectedItem == null"
        (actionClick)="onClear()"
      ></sp-header-action> -->

      <!-- <sp-header-action
        icon="sync"
        text="Refresh"
        title="Refresh"
        (actionClick)="onRefresh()"
      ></sp-header-action> -->

      <!-- <sp-header-action
        icon="filter_list"
        text="Filter"
        title="Filter"
        (actionClick)="onFilter()"
      ></sp-header-action> -->
    </ng-container>
  </sp-data-grid>
</sp-one-col>
