<sp-vbox>
  <sp-hbox>
    <mat-form-field appearance="outline">
      <mat-label>User Role</mat-label>
      <mat-select matNativeControl (selectionChange)="onSelectRole($event)" [(value)]="selectedRoleCmp">
        <mat-option>
          <ngx-mat-select-search
            placeholderLabel="Search"
            ngModel
            (ngModelChange)="filterRolesSelection($event)"
          ></ngx-mat-select-search>
        </mat-option>
        <mat-option value="" class="option">--Select--</mat-option>
        <mat-option *ngFor="let item of filteredRoleList" [value]="item">{{item.name}}</mat-option>
      </mat-select>
    </mat-form-field>
    <!-- <mat-form-field appearance="outline">
      <mat-label>Apps</mat-label>
      <mat-select (selectionChange)="onSelectApp($event)" [(value)]="selectedApp">
        <mat-option *ngFor="let item of AppList" [value]="item">{{item.name}}</mat-option>
      </mat-select>
    </mat-form-field> -->
    <!-- <button mat-raised-button color="accent" (click)="onClearClick()">
      Clear
    </button>
    <button mat-raised-button color="primary" (click)="onSaveClick()">
      Save
    </button> -->
  </sp-hbox>
  <sp-vbox [noGap]="true" [marginX]="true">
    <div style="width:850px"
      class="bg-primary-default h-10 rounded-t-md flex flex-row items-center justify-between pl-5 pr-5">
      <span class="float-left text-white font-medium">Manage Roles</span>
      <div class="flex flex-row">
        <ng-container>
          <sp-header-action icon="clear" text="Clear" title="Clear" (actionClick)="onClearClick()"></sp-header-action>
          <sp-header-action icon="save" text="Save" title="Save" (actionClick)="onSaveClick()"></sp-header-action>
        </ng-container>



      </div>
    </div>
    <ngx-datatable class="material striped tableScroll" style="height: calc(100vh - 16rem); width: 850px;"
      [columnMode]="ColumnMode.flex" [headerHeight]="50" [footerHeight]="0" [rowHeight]="30" [rows]="AppList"
      [scrollbarV]="true" [scrollbarH]="true">
      <!-- <ngx-datatable-column name="Code" prop="code" [canAutoResize]="true" [flexGrow]="3"></ngx-datatable-column> -->
      <ngx-datatable-column name="Available Functions" prop="name" [canAutoResize]="true"
        [flexGrow]="3"></ngx-datatable-column>
      <ngx-datatable-column name="Description" prop="description" [canAutoResize]="true"
        [flexGrow]="5"></ngx-datatable-column>
      <!-- <ngx-datatable-column name="Icon" prop="icon" [canAutoResize]="true" [flexGrow]="3"></ngx-datatable-column> -->
      <!-- <ngx-datatable-column name="Path" prop="path" [canAutoResize]="true" [flexGrow]="3"></ngx-datatable-column> -->
      <!-- <ngx-datatable-column name="Status" prop="status" [canAutoResize]="true" [flexGrow]="2">
        <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-row="row" let-value="value">
          <mat-checkbox color="primary" [disabled]="true" [checked]="row.status"></mat-checkbox>
        </ng-template>
      </ngx-datatable-column> -->
      <ngx-datatable-column name="Assigned Functions" prop="permission" [canAutoResize]="true" [flexGrow]="3">
        <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-row="row" let-value="value">
          <div class="flex justify-center">
            <mat-checkbox color="primary" [checked]="row.permission"
              (change)="checkChange($event, rowIndex,row)"></mat-checkbox>
          </div>
        </ng-template>
      </ngx-datatable-column>
    </ngx-datatable>
  </sp-vbox>
  <!-- </sp-hbox> -->
</sp-vbox>