<!-- MANGAE BUSINESS ACTION RULES -->
<div *ngIf="!!actionForm" class="rule-drop-down flex action-container" [formGroup]="actionForm">

    <!-- <div class="example-container mt-8 mr-5 flex flex-col">
        <mat-form-field [ngClass]="preview ? 'not-allow' : ''" class="w-40" appearance="outline">
            <mat-label>Attribute</mat-label>
            <mat-select [panelClass]="preview ? 'hideOption' : ''" formControlName="attributeId"
                (valueChange)="handleAttributes($event, 'changeAttribute')">
                <mat-option *ngFor="let attribute of filteredAttributes" [value]="attribute?.id">
                    {{attribute.displayName}}
                </mat-option>
            </mat-select>
        </mat-form-field>
        <mat-error class="text-sm italic text-red-500"
            *ngIf="actionForm.get('attributeId')!.invalid && actionForm.get('attributeId')!.touched && actionForm.get('attributeId')!.hasError('required')">
            Attribute value is required
        </mat-error>
    </div> -->

    <div class="example-container mt-8 mr-5 flex flex-col">
        <mat-form-field [ngClass]="preview ? 'not-allow' : ''" class="w-40" appearance="outline">
            <mat-label>Attribute</mat-label>
            <div class="flex attribute-input" [ngClass]="preview ? 'disableMenu' : ''"
                [matMenuTriggerFor]="attributeMenu">
                <input style="display: none;" [readonly]="true" [readonly]="preview" matInput placeholder="Add Value"
                    formControlName="attributeId" [disabled]="isFieldDisabled">
                <input [readonly]="true" [readonly]="preview" matInput placeholder="Add Value" required
                    [value]="selectedAttribute" [disabled]="isFieldDisabled">
                <mat-icon class="down-arrow-icon">arrow_drop_down</mat-icon>
            </div>
        </mat-form-field>
        <mat-error class="text-sm italic text-red-500"
            *ngIf="actionForm.get('attributeId')!.invalid && actionForm.get('attributeId')!.touched && actionForm.get('attributeId')!.hasError('required')">
            Attribute value is required
        </mat-error>
    </div>

    <!-- MAT MENU FOR NESTED ATTRIBUTE -->
    <mat-menu class="attribute-menu" #attributeMenu="matMenu" yPosition="below">
        <ng-container *ngFor="let attribute of dataRules?.attributes">
            <button [matMenuTriggerFor]="attribute.attributes ? nestedMenu : null" mat-menu-item
                (click)="selectAttribute(attribute)">
                {{ attribute.displayName }}
            </button>
            <mat-menu #nestedMenu="matMenu">
                <button mat-menu-item *ngFor="let nestedAttribute of attribute.attributes"
                    (click)="selectAttribute(nestedAttribute, attribute)">
                    {{ nestedAttribute.displayName }}
                </button>
            </mat-menu>

        </ng-container>
    </mat-menu>

    <div class="example-container mt-8 mr-5 flex flex-col">
        <mat-form-field [ngClass]="preview ? 'not-allow' : ''" appearance="outline">
            <mat-label>Actions</mat-label>
            <mat-select [panelClass]="preview ? 'hideOption' : ''" panelClass="mat-select-options"
                (valueChange)="handleValueChange($event, 'changeValue')" formControlName="actionType">
                <mat-option *ngFor="let item of actionType" [value]="item.value">
                    <p>{{this.capitalizeOperatorType(item.value)}}</p>
                </mat-option>
            </mat-select>
        </mat-form-field>
        <mat-error class="text-sm italic text-red-500"
            *ngIf="actionForm.get('actionType')!.invalid && actionForm.get('actionType')!.touched && actionForm.get('actionType')!.hasError('required')">
            Action value is required
        </mat-error>
    </div>

    <div class="example-container mr-5 flex flex-col" *ngIf="Value">
        <mat-radio-group class="flex mb-1 radio-groups" aria-label="Select an option" formControlName="operandType"
            (change)="handleValue($event.value, 'editValue')">
            <ng-container *ngFor="let item of dataRules?.operands; let i = index">
                <mat-radio-button [disabled]="preview" color="primary" [value]="item.value" class="ml-4 capitalize">
                    {{item.name}} </mat-radio-button>
            </ng-container>
        </mat-radio-group>

        <ng-container *ngIf="valueConstant">
            <mat-form-field
                *ngIf="['AUTO', 'INTEGER', 'DECIMAL', 'STRING_VAR', 'STRING', 'CHARACTER', 'LINK'].includes(dataType)"
                [ngClass]="preview ? 'not-allow' : ''" class="w-40" appearance="outline">
                <mat-label>Value</mat-label>
                <input [disabled]="isFieldDisabled" [readonly]="preview" matInput placeholder="Add Value"
                    formControlName="operand">
            </mat-form-field>

            <!-- WHEN DATATYPE IS EQUAL TO BOOLEAN -->
            <mat-form-field *ngIf="dataType === 'BOOLEAN'" [ngClass]="preview ? 'not-allow' : ''" class="w-40"
                appearance="outline">
                <mat-label>Value</mat-label>
                <mat-select [panelClass]="preview ? 'hideOption' : ''" formControlName="operand">
                    <mat-option value="True"> True </mat-option>
                    <mat-option value="False"> False </mat-option>
                </mat-select>
            </mat-form-field>

            <!-- WHEN DATATYPE IS EQUAL TO TEXT -->
            <mat-form-field *ngIf="['TEXT'].includes(dataType)" [ngClass]="preview ? 'not-allow' : ''" class="w-40"
                appearance="outline">
                <mat-label>Textarea</mat-label>
                <textarea [disabled]="isFieldDisabled" class="text-box" [readonly]="preview" matInput
                    placeholder="Add Value" formControlName="operand"></textarea>
            </mat-form-field>

            <!-- WHEN DATATYPE IS EQUAL TO DATE -->
            <mat-form-field *ngIf="['DATE'].includes(dataType)" [ngClass]="preview ? 'not-allow' : ''" class="w-40"
                appearance="outline">
                <mat-label>Date</mat-label>
                <input matInput [readonly]="preview" [matDatepicker]="picker" formControlName="operand">
                <mat-datepicker-toggle [disabled]="preview" matIconSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>

            <!-- WHEN DATATPE IS EQUAL TO TIME STAMP -->
            <mat-form-field *ngIf="['TIME_STAMP', 'DATE_TIME'].includes(dataType)"
                [ngClass]="preview ? 'not-allow' : ''" class="w-52" appearance="outline">
                <mat-label>DateTime</mat-label>
                <input matInput [readonly]="preview" [ngxMatDatetimePicker]="mindatetimepicker1"
                    formControlName="operand">
                <mat-datepicker-toggle [disabled]="preview" matSuffix
                    [for]="$any(mindatetimepicker1)"></mat-datepicker-toggle>
                <ngx-mat-datetime-picker [hideTime]="true" #mindatetimepicker1 [panelClass]="'matDatePopup'"></ngx-mat-datetime-picker>
            </mat-form-field>

            <mat-error class="text-sm italic text-red-500"
                *ngIf="actionForm.get('operand')!.invalid && actionForm.get('operand')!.touched && actionForm.get('operand')!.hasError('required')">
                Value is required
            </mat-error>
            <mat-error class="text-sm italic text-red-500" *ngIf="actionForm.get('operand')!.hasError('pattern')">Please
                enter a valid pattern</mat-error>
        </ng-container>

        <!-- WHEN OPERANDS TYPE IS ATTRIBUTE -->
        <ng-container *ngIf="!valueConstant">
            <mat-form-field [ngClass]="preview ? 'not-allow' : ''" class="w-40" appearance="outline"
                *ngIf="!valueConstant">
                <mat-label>Attribute</mat-label>
                <div class="flex attribute-input" [ngClass]="preview ? 'disableMenu' : ''"
                    [matMenuTriggerFor]="operandMenu">
                    <input style="display: none;" [readonly]="true" [readonly]="preview" matInput
                        placeholder="Add Value" formControlName="operand" [disabled]="isFieldDisabled">
                    <input [readonly]="true" [readonly]="preview" matInput placeholder="Add Value" required
                        [value]="selectedOperand" [disabled]="isFieldDisabled">
                    <mat-icon class="down-arrow-icon">arrow_drop_down</mat-icon>
                </div>
            </mat-form-field>

            <mat-error class="text-sm italic text-red-500"
                *ngIf="actionForm.get('operand')!.invalid && actionForm.get('operand')!.touched && actionForm.get('operand')!.hasError('required')">
                Value is required
            </mat-error>
            <mat-error class="text-sm italic text-red-500" *ngIf="actionForm.get('operand')!.hasError('pattern')">Please
                enter a valid pattern</mat-error>

        <!-- MAT MENU FOR NESTED ATTRIBUTE -->
        <mat-menu class="attribute-menu" #operandMenu="matMenu" yPosition="below">
                <ng-container *ngFor="let attribute of dataRules?.attributes">
                    <button [matMenuTriggerFor]="attribute.attributes ? nestedMenu : null" mat-menu-item
                        (click)="selectAttribute(attribute, '', 'operand')">
                        {{ attribute.displayName }}
                    </button>
                    <mat-menu #nestedMenu="matMenu">
                        <button mat-menu-item *ngFor="let nestedAttribute of attribute.attributes"
                            (click)="selectAttribute(nestedAttribute, attribute, 'operand')">
                            {{ nestedAttribute.displayName }}
                        </button>
                    </mat-menu>

                </ng-container>
            </mat-menu>
        </ng-container>
    </div>

    <div class="example-container mt-8 mr-5 flex flex-col" *ngIf="minValue">
        <mat-form-field
            *ngIf="['AUTO', 'INTEGER', 'DECIMAL', 'STRING_VAR', 'STRING', 'CHARACTER', 'LINK'].includes(dataType)"
            [ngClass]="preview ? 'not-allow' : ''" class="w-40" appearance="outline">
            <mat-label>Min Value</mat-label>
            <input [readonly]="preview" matInput placeholder="Add Value" formControlName="min_value">
        </mat-form-field>

        <!-- WHEN DATATYPE IS EQUAL TO BOOLEAN -->
        <mat-form-field *ngIf="dataType === 'BOOLEAN'" [ngClass]="preview ? 'not-allow' : ''" class="w-52"
            appearance="outline">
            <mat-label>Value</mat-label>
            <mat-select [panelClass]="preview ? 'hideOption' : ''" formControlName="min_value">
                <mat-option value="True"> True </mat-option>
                <mat-option value="False"> False </mat-option>
            </mat-select>
        </mat-form-field>

        <!-- WHEN DATATYPE IS EQUAL TO TEXT -->
        <mat-form-field *ngIf="['TEXT'].includes(dataType)" [ngClass]="preview ? 'not-allow' : ''" class="w-52"
            appearance="outline">
            <mat-label>Textarea</mat-label>
            <textarea class="text-box" [readonly]="preview" matInput placeholder="Add Value"
                formControlName="min_value"></textarea>
        </mat-form-field>

        <!-- WHEN DATATYPE IS EQUAL TO DATE -->
        <mat-form-field *ngIf="['DATE'].includes(dataType)" [ngClass]="preview ? 'not-allow' : ''" class="w-52"
            appearance="outline">
            <mat-label>Date</mat-label>
            <input matInput [readonly]="preview" [matDatepicker]="picker" formControlName="min_value">
            <mat-datepicker-toggle [disabled]="preview" matIconSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>

        <!-- WHEN DATATPE IS EQUAL TO TIME STAMP -->
        <mat-form-field *ngIf="['TIME_STAMP', 'DATE_TIME'].includes(dataType)" [ngClass]="preview ? 'not-allow' : ''"
            class="w-52" appearance="outline">
            <mat-label>DateTime</mat-label>
            <input matInput [readonly]="preview" [ngxMatDatetimePicker]="mindatetimepicker1"
                formControlName="min_value">
            <mat-datepicker-toggle [disabled]="preview" matSuffix
                [for]="$any(mindatetimepicker1)"></mat-datepicker-toggle>
            <ngx-mat-datetime-picker [hideTime]="true" #mindatetimepicker1 [panelClass]="'matDatePopup'"></ngx-mat-datetime-picker>
        </mat-form-field>


        <mat-error class="text-sm italic text-red-500"
            *ngIf="actionForm.get('min_value')!.invalid && actionForm.get('min_value')!.touched && actionForm.get('min_value')!.hasError('required')">
            Value is required
        </mat-error>
    </div>

    <div class="example-container mt-8 mr-5 flex flex-col" *ngIf="maxValue">
        <mat-form-field
            *ngIf="['AUTO', 'INTEGER', 'DECIMAL', 'STRING_VAR', 'STRING', 'CHARACTER', 'LINK'].includes(dataType)"
            [ngClass]="preview ? 'not-allow' : ''" class="w-40" appearance="outline">
            <mat-label>Max Value</mat-label>
            <input [readonly]="preview" matInput placeholder="Add Value" formControlName="max_value">
        </mat-form-field>

        <!-- WHEN DATATYPE IS EQUAL TO BOOLEAN -->
        <mat-form-field *ngIf="dataType === 'BOOLEAN'" [ngClass]="preview ? 'not-allow' : ''" class="w-52"
            appearance="outline">
            <mat-label>Value</mat-label>
            <mat-select [panelClass]="preview ? 'hideOption' : ''" formControlName="max_value">
                <mat-option value="True"> True </mat-option>
                <mat-option value="False"> False </mat-option>
            </mat-select>
        </mat-form-field>

        <!-- WHEN DATATYPE IS EQUAL TO TEXT -->
        <mat-form-field *ngIf="['TEXT'].includes(dataType)" [ngClass]="preview ? 'not-allow' : ''" class="w-52"
            appearance="outline">
            <mat-label>Textarea</mat-label>
            <textarea class="text-box" [readonly]="preview" matInput placeholder="Add Value"
                formControlName="max_value"></textarea>
        </mat-form-field>

        <!-- WHEN DATATYPE IS EQUAL TO DATE -->
        <mat-form-field *ngIf="['DATE'].includes(dataType)" [ngClass]="preview ? 'not-allow' : ''" class="w-52"
            appearance="outline">
            <mat-label>Date</mat-label>
            <input matInput [readonly]="preview" [matDatepicker]="picker" formControlName="max_value">
            <mat-datepicker-toggle [disabled]="preview" matIconSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>

        <!-- WHEN DATATPE IS EQUAL TO TIME STAMP -->
        <mat-form-field *ngIf="['TIME_STAMP', 'DATE_TIME'].includes(dataType)" [ngClass]="preview ? 'not-allow' : ''"
            class="w-52" appearance="outline">
            <mat-label>DateTime</mat-label>
            <input matInput [readonly]="preview" [ngxMatDatetimePicker]="maxdatetimepicker1"
                formControlName="max_value">
            <mat-datepicker-toggle [disabled]="preview" matSuffix
                [for]="$any(maxdatetimepicker1)"></mat-datepicker-toggle>
            <ngx-mat-datetime-picker [hideTime]="true" #maxdatetimepicker1 [panelClass]="'matDatePopup'"></ngx-mat-datetime-picker>
        </mat-form-field>

        <mat-error class="text-sm italic text-red-500"
            *ngIf="actionForm.get('max_value')!.invalid && actionForm.get('max_value')!.touched && actionForm.get('max_value')!.hasError('required')">
            Value is required
        </mat-error>
    </div>

    <div class="example-container mr-5 flex flex-col" *ngIf="!preview">
        <button type="button" mat-raised-button color="primary" class="close-button" (click)="remove.emit()">
            <mat-icon class="delete-icon flex justify-center">delete</mat-icon>
        </button>
    </div>
</div>