<mat-accordion [multi]="false">
  <mat-expansion-panel expanded="true" >
    <mat-expansion-panel-header>
      <mat-panel-title>
        Entity Order
      </mat-panel-title>
    </mat-expansion-panel-header>
   <sp-entity-order></sp-entity-order>
  </mat-expansion-panel>
  <!-- <mat-expansion-panel >
    <mat-expansion-panel-header>
      <mat-panel-title>
        Unique Key Combination
      </mat-panel-title>
    </mat-expansion-panel-header>
   <sp-uniquekey-attribute></sp-uniquekey-attribute>
  </mat-expansion-panel> -->
</mat-accordion>
