<mat-accordion [multi]="true">
  <mat-expansion-panel >
    <mat-expansion-panel-header>
      <mat-panel-title>
        Entity Order
      </mat-panel-title>
    </mat-expansion-panel-header>
   <sp-entity-order class="p-2"></sp-entity-order>
  </mat-expansion-panel>
  <mat-expansion-panel >
    <mat-expansion-panel-header>
      <mat-panel-title>
        Unique Key
      </mat-panel-title>
    </mat-expansion-panel-header>
   <sp-entity-order class="p-2"></sp-entity-order>
  </mat-expansion-panel>
</mat-accordion>
