// mat-toolbar {
//   @apply bg-black justify-end rounded-none opacity-70;
//   height: 58px;
// }

.footer {
  @apply bg-black flex space-x-2 items-center justify-end rounded-none opacity-70 static bottom-0 w-full pl-3 pr-3;
  //height: 42px;
  height: 25px;
}

.divider {
  height: 70%;
  margin-top: auto;
  margin-bottom: auto;
  width: 0.25px;
  background-color: var(--secondary-light);
}
