<div class="container">
    <label class="text-secondary-dark m-2 font-bold text-lg"
      >Saved filters</label
    >
    <div  class="content">
            <sp-data-grid
              class="w-full h-full"
              #dataGrid
              title="Filter List"
              [enableRowIndex]="false"
              [isArray]="false"
              [headers]="headers"
              [rows]="rows"
              [rowHeight]="20"
              [headerHeight]="30"
              [footerHeight]="0"
              [columnMode]="columnMode"
              [virtualScroll]="true"
              [selectionType]="selectionType"
              [count]="totalElements"
              (itemSelected)="onItemSelected($event)"
            >
            </sp-data-grid>
    </div>
    <div class="footer">
      <button mat-raised-button color="primary" (click)="onApply()" [disabled]="selectedItem==null"  class="ml-2">
        Apply
      </button>
      <button mat-raised-button color="accent" (click)="closeDialog()" class="ml-2">
        Cancel
      </button>
    </div>
  </div>
  