.mat-expansion-panel-body {
  padding: 0px;
}

.grid-container {
  @apply h-full w-full;
  //overflow-y: hidden;
  overflow: auto;
}

.grid-height {
  display: block;
  //height: calc(100% - 6rem);
  //height: calc(100% - 3rem);
  @apply h-full;
}

mat-accordion.mat-accordion {
  overflow: auto;
}

// .file-excel::before {
//   font: 20px;
//   color: var(--white);
//   content: " \f1c3";
// }

.elipsis
{
        display: inline-block;
        min-width: 150px;
        width: auto;
        max-width: 350px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        text-align: center;
}