<div class="container">
  <label class="text-secondary-dark m-2 font-bold text-lg"
    >{{ action }} Entity</label
  >

  <div mat-dialog-content class="content">
    <div class="namegrid">
      <div>
        <form
          [formGroup]="entityForm"
          class="form d-flex flex-column flex-lg-row"
        >
          <div>
            <mat-form-field appearance="outline">
              <mat-label>Entity Name</mat-label>
              <input formControlName="name" matInput />
            </mat-form-field>
            <div class="error">
              <mat-error
                class="text-sm italic text-red-500"
                *ngIf="
                  entityForm.controls['name'].hasError('required') &&
                  (entityForm.controls['name'].dirty ||
                    entityForm.controls['name'].touched)
                "
                >Name is required</mat-error
              >
            </div>
          </div>
        </form>
      </div>
      <div class="ml-2">
        <mat-form-field appearance="outline">
          <mat-label>Display Name</mat-label>
          <input matInput [(ngModel)]="local_data.displayName" />
        </mat-form-field>
      </div>
      <div class="autoCheck">
        <mat-checkbox
          [disabled]="action == 'Edit'"
          [(ngModel)]="local_data.autoNumberCode"
          color="primary"
          >Auto generate Code</mat-checkbox
        >
        <mat-checkbox [(ngModel)]="local_data.enableAuditTrial" color="primary"
          >Enable Change Tracking</mat-checkbox
        >
      </div>
    </div>

    <mat-card
      style="padding: 7px; height: 450px; overflow-y: auto"
      class="drop-shadow"
    >
      <div class="box">
        <div class="box1">
          <sp-data-grid
            class="w-full h-full"
            #dataGrid
            title="Attribute List"
            [enableRowIndex]="false"
            [isArray]="false"
            [headers]="headers"
            [rows]="rows"
            [rowHeight]="20"
            [headerHeight]="30"
            [footerHeight]="0"
            [columnMode]="columnMode"
            [virtualScroll]="true"
            [selectionType]="selectionType"
            [limit]="10"
            [isExternalPaging]="true"
            [isExternalSorting]="false"
            [sortType]="sortType"
            [count]="totalElements"
            (paginate)="onPaginate($event)"
            (itemSelected)="onItemSelected($event)"
            (sort)="onSort($event)"
          >
            <ng-container>
              <sp-header-action
                icon="edit"
                text="Edit"
                title="Edit Attribute"
                [disabled]="
                  selectedItem == null || (selectedItem.editable == false && selectedItem.onlyDisplayNameEditable == false)
                "
                (actionClick)="onEdit()"
              ></sp-header-action>

              <sp-header-action
                icon="delete"
                text="Delete"
                title="Delete Attribute"
                [disabled]="
                  selectedItem == null || selectedItem.editable == false || selectedItem.onlyDisplayNameEditable == true
                "
                (actionClick)="onDelete()"
              ></sp-header-action>
            </ng-container>
          </sp-data-grid>
        </div>
        <div class="box2">
          <mat-form-field appearance="outline" class="mb-2">
            <mat-label>Attribute Name</mat-label>
            <input
              [disabled]="attAction === 'Update'"
              matInput
              [(ngModel)]="attDetails.name"
            />
          </mat-form-field>

          <mat-form-field appearance="outline" class="mb-2">
            <mat-label>Display Name</mat-label>
            <input matInput [(ngModel)]="attDetails.displayName" />
          </mat-form-field>

          <mat-form-field appearance="outline" class="mb-2">
            <mat-label>Description</mat-label>
            <textarea
              matInput
              maxlength="100"
              [disabled]="
                attDetails?.onlyDisplayNameEditable && attAction === 'Update'
              "
              [(ngModel)]="attDetails.description"
            ></textarea>
          </mat-form-field>

          <div class="flex flex-row mb-2">
            <!-- <mat-label>Type</mat-label> -->
            <mat-radio-group
              aria-label="Select an option"
              [(ngModel)]="attDetails.type"
              [value]="type"
              (change)="radioButtonChanged($event)"
              [disabled]="
                attDetails?.onlyDisplayNameEditable && attAction === 'Update'
              "
            >
              <mat-radio-button value="FREE_FORM">Free Form</mat-radio-button>
              <mat-radio-button value="LOOKUP">Domain Based</mat-radio-button>
            </mat-radio-group>
          </div>
          <mat-form-field
            appearance="outline"
            class="mb-2"
            *ngIf="attDetails.type === 'LOOKUP'"
          >
            <mat-label>Entity</mat-label>

            <mat-select
              [(ngModel)]="attDetails.referencedTableId"
              (selectionChange)="selectedEntity($event)"
              [disabled]="
                attDetails?.onlyDisplayNameEditable && attAction === 'Update'
              "
            >
              <mat-option
                *ngFor="let item of entityList"
                [value]="item.id"
                [disabled]="local_data.id === item.id"
                >{{ item.displayName }}</mat-option
              >
            </mat-select>
          </mat-form-field>
          <mat-checkbox
            *ngIf="attDetails.type !== 'LOOKUP'"
            class="mb-2"
            style="margin-top: 12px; margin-bottom: 21px"
            [(ngModel)]="constraintType"
            [disabled]="
              attDetails?.onlyDisplayNameEditable && attAction === 'Update'
            "
            >Is Unique</mat-checkbox
          >
          <mat-form-field
            appearance="outline"
            class="mb-2"
            *ngIf="attDetails.type === 'FREE_FORM'"
          >
            <mat-label>Data Type</mat-label>
            <mat-select
              [(ngModel)]="attDetails.dataType"
              [disabled]="
                attDetails?.onlyDisplayNameEditable && attAction === 'Update'
              "
            >
              <mat-option value="STRING_VAR">Fixed Length String</mat-option>
              <mat-option value="TEXT">Text</mat-option>
              <mat-option value="INTEGER">Number</mat-option>
              <mat-option value="LINK">Link</mat-option>
              <mat-option value="TIME_STAMP">Date Time</mat-option>
              <mat-option value="BOOLEAN">Boolean</mat-option>
            </mat-select>
          </mat-form-field>

          <mat-form-field
            appearance="outline"
            class="mb-2"
            *ngIf="
              attDetails.dataType === 'STRING_VAR' &&
              attDetails.type !== 'LOOKUP'
            "
          >
            <mat-label>Length</mat-label
            ><input
              matInput
              type="number"
              min="0"
              [(ngModel)]="attDetails.size"
              [disabled]="
                attDetails?.onlyDisplayNameEditable && attAction === 'Update'
              "
          /></mat-form-field>

          <div
            *ngIf="
              attDetails.dataType === 'INTEGER' &&
              attDetails.type === 'FREE_FORM'
            "
            style="display: contents"
          >
            <mat-form-field appearance="outline" class="mb-2">
              <mat-label>Decimals</mat-label
              ><input
                matInput
                type="number"
                min="0"
                [(ngModel)]="attDetails.size"
                [disabled]="
                  attDetails?.onlyDisplayNameEditable && attAction === 'Update'
                "
            /></mat-form-field>
          </div>
          <div
            *ngIf="
              attDetails.dataType === 'TIME_STAMP' &&
              attDetails.type === 'FREE_FORM'
            "
            style="display: contents"
          >
            <mat-form-field appearance="outline" class="mb-2"
              ><mat-label>Input Mask</mat-label>
              <mat-select
                [(ngModel)]="attDetails.formatter"
                [disabled]="
                  attDetails?.onlyDisplayNameEditable && attAction === 'Update'
                "
              >
                <mat-option value="MM/DD/YY">MM/DD/YY</mat-option>
                <mat-option value="MM/DD/YYYY">MM/DD/YYYY</mat-option>
                <mat-option value="DD/MM/YY">DD/MM/YY</mat-option>
                <mat-option value="DD/MM/YYYY">DD/MM/YYYY</mat-option>
                <mat-option value="YY/MM/DD">YY/MM/DD</mat-option>
                <mat-option value="YYYY/MM/DD">YYYY/MM/DD</mat-option>
                <mat-option value="DD-MM-YY">DD-MM-YY</mat-option>
                <mat-option value="DD-MM-YYYY">DD-MM-YYYY</mat-option>
                <mat-option value="YY-MM-DD">YY-MM-DD</mat-option>
                <mat-option value="YYYY-MM-DD">YYYY-MM-DD</mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <mat-form-field
            appearance="outline"
            class="mb-2"
            *ngIf="
              attDetails.dataType === 'INTEGER' &&
              attDetails.type === 'FREE_FORM'
            "
            ><mat-label>Input Mask</mat-label>
            <mat-select
              [(ngModel)]="attDetails.formatter"
              [disabled]="
                attDetails?.onlyDisplayNameEditable && attAction === 'Update'
              "
            >
              <mat-option value="-####">-####</mat-option>
              <mat-option value="(####)">(####)</mat-option>
            </mat-select>
          </mat-form-field>
          <mat-form-field appearance="outline" class="pb-2">
            <mat-label>Width</mat-label
            ><input
              matInput
              type="number"
              min="0"
              [(ngModel)]="attDetails.width"
              [disabled]="
                attDetails?.onlyDisplayNameEditable && attAction === 'Update'
              "
          /></mat-form-field>

          <div></div>
        </div>
      </div>
    </mat-card>

    <div class="flex justify-end pt-2">
      <button
        mat-raised-button
        class="savebtn"
        color="accent"
        type="button"
        (click)="clear()"
      >
        Clear
      </button>
      <button
        mat-raised-button
        type="button"
        color="primary"
        class="savebtn"
        style="width: 9rem"
        (click)="updateRowData(attDetails)"
        [disabled]="
          attDetails.name === '' ||
          attDetails.name === undefined ||
          attDetails.editable === false
        "
      >
        {{ attAction }} Attribute
      </button>
    </div>
  </div>
  <div mat-dialog-actions class="actions">
    <button
      (click)="closeDialog()"
      mat-raised-button
      color="accent"
      type="button"
      class="mr-2"
    >
      Cancel
    </button>
    <button
      mat-raised-button
      color="primary"
      type="submit"
      (click)="doAction()"
      [disabled]="entityForm.invalid && action !== 'Edit'"
    >
      Save
    </button>
  </div>
</div>
