.grid {
    display: grid;
    grid-template-columns: 100%;
    grid-auto-rows: 1fr;
    width: 35%;
    height: 430px;
  }
  .box {
    // border: 1px solid lightgrey;
    display: flex;
    justify-content: space-between;
    // padding: 8px;
    // height: 440px;
  }
  
  .addbtn {
    margin-left: 1rem;
  }
  
  .content {
    height: 546px;
    max-height: 800px;
  }
  .mat-mdc-dialog-actions {
    justify-content: end;
  }
  .savebtn {
    width: 10%;
  }
  .mdc-dialog__content > :first-child {
    margin-top: 8px;
  }
  .namegrid {
    display: flex;
    margin: 1rem 1rem 0 0;
  }
  .tableBox {
    max-height: 433px;
    width: 60%;
    margin: 15px;
    margin-top: 0px;
  }
  .error {
    height: 1.5rem;
  }
  .flex-icon {
    display: flex;
    justify-content: end;
    align-items: center;
  }
  .mat-mdc-dialog-actions {
    justify-content: end !important;
  }
  .container 
  {
    padding: 1rem !important;
  }