.box {
  display: flex;
  justify-content: space-between;
  gap: 5%;
}
.box1 {
  width: 560px;
  height: 430px;
}
.box2 {
  width: 260px;
}
.addbtn {
  margin-left: 1rem;
}

.content {
  height: 546px;
  max-height: 800px;
}
.mat-mdc-dialog-actions {
  justify-content: end;
}
.savebtn {
  margin-left: 4px;
}
.mdc-dialog__content > :first-child {
  margin-top: 8px;
}
.namegrid {
  display: flex;
  margin: 0.5rem 0.5rem 0 0;
  @apply space-x-2;
}
.tableBox {
  max-height: 434px;
  width: 60%;
  margin: 15px;
  margin-top: 0px;
}
.error {
  height: 1.5rem;
  margin-top: -5px;
}
.flex-icon {
  display: flex;
  justify-content: end;
  align-items: center;
}

.container {
  padding: 1rem !important;
}

.actions {
  @apply flex flex-row justify-center gap-5;
}

.autoCheck {
  @apply pl-2;
  display: flex;
  flex-direction: column;
}
