::ng-deep .mat-mdc-progress-bar .mdc-linear-progress__buffer-bar {
    background-color: grey !important;
}

.grid {
    margin-top: 2px;
    min-width: 600px;
    display: grid;
    margin-bottom: 1rem;
    grid-template-columns: 35% 40% 10% 10%;
    justify-content: center;
    align-items: center;
}