<div class="flex flex-col container">
  <div class="page-header">
    {{ selectedItem ? "Edit - " : "Add - " }}{{ entity.name }}
  </div>

  <button mat-icon-button color="transparent" class="close" (click)="onClose()">
    <mat-icon>close</mat-icon>
  </button>
  <div class="pl-3 pr-3" style="width: 100%; height: 100%">
    <sp-dynamic-form-container
      [appForm]="appForm"
      reset="Reset"
      save="Save"
      [singleCol]="false"
      (submitEvent)="onSubmit($event)"
      (resetEvent)="onClear($event)"
    ></sp-dynamic-form-container>
  </div>
</div>
