<mat-accordion [multi]="false">
  <mat-expansion-panel expanded="true">
    <mat-expansion-panel-header>
      <mat-panel-title> Date Time </mat-panel-title>
    </mat-expansion-panel-header>
    <div *ngIf="data?.settingsData?.timezone " style="padding: 4px 10px; height: 80vh; margin-top: 6px;display: flex;">
      <mat-form-field appearance="outline" style="height: 3rem !important">
        <mat-label>TimeZone</mat-label>
        <mat-select
          matNativeControl
          [(value)]="this.data.settingsData.timezone"
        >
          <mat-option>
            <ngx-mat-select-search
              placeholderLabel="Search"
              ngModel
              (ngModelChange)="filterZone($event)"
            ></ngx-mat-select-search>
          </mat-option>
          <mat-option value=null class="option">Default</mat-option>
          <mat-option value="normal" class="option">Normal</mat-option>
          <mat-option *ngFor="let item of zoneList" [value]="item">{{
            item
          }}</mat-option>
        </mat-select>
      </mat-form-field>
      <div class="pl-4 pt-1 flex justify-center">
        <button mat-raised-button color="primary" (click)="onSave()">
          Save
        </button>
        <button
          mat-raised-button
          color="accent"
          type="button"
          (click)="onCancel()"
          class="ml-2"
        >
          Cancel
        </button>
      </div>
    </div>
  </mat-expansion-panel>
</mat-accordion>
