
<div class="content-container">
  <div class="logo">
    <div class="logoText">
      <div class="flex">
        <button style="margin: 5px" class="ng-tns-c816216012-1">
          <img
            src="../../../../assets/images/logo.png"
            style="width: 60px; height: 60px; max-width: initial"
            alt=""
          />
        </button>
        <h1 class="user">SPRICED <span>(NRP Pricing Application)</span></h1>
      </div>
      <button mat-icon-button [matMenuTriggerFor]="menu" class="btn" aria-label="Example icon-button with a menu">
        <mat-icon class="icon-size">account_circle</mat-icon>
      </button>
      <mat-menu #menu="matMenu">
        <button mat-menu-item (click)="logOut($event)">
          <mat-icon>power_settings_new</mat-icon>
          <span>Logout</span>
        </button>

        <!-- <button mat-menu-item>
          <mat-icon>settings</mat-icon>
          <span>Settings</span>
        </button> -->
      </mat-menu>
    </div>
  </div>

  <div class="card">
    <div class="content">
      <sp-app-card 
      *ngFor="let app of apps" 
      [header]="app.name"
      [paragraph]="app.description"
      [path]="'/'+app.path" 
      [image]="app.icon">
    </sp-app-card>
    </div>
  </div>
</div>

<!-- [matTooltip]="app.description" -->