.top-header {
  background-color: rgb(170, 8, 8);
  flex-direction: inherit;
  align-items: center;
  justify-content: space-between;
}
.btn {
  color: white;
  margin-right: 0.5rem;
  margin-left: 0.5rem;
}
.mat-mdc-icon-button.mat-mdc-button-base {
  padding: 0px;
}
.icon-size_home {
  font-size: 28px;
  height: 28px;
  width: 28px;
}
.vl {
  border-left: 2px solid white;
  height: 2rem;
  margin-left: 1rem;
}
.content {
  display: flex;
  background-color: #ebebeb;
  transition: all 0.5s ease;
  height: calc(100vh - 3.5rem);
  overflow: auto;
}
