<mat-tab-group mat-stretch-tabs="false" dynamicHeight="true" animationDuration="3" headerPosition="above"
  mat-align-tabs="start" [selectedIndex]="selectedTabIndex" class="grid gap-5 grid-cols-1 h-full w-full" color="primary">
  <mat-tab label="View" class="flex flex-grow p-5 h-full w-full">
    <app-hierarchy-view-tab #HierarchyViewTabComponent [modelList]="modelList" />
  </mat-tab>
  <mat-tab label="Add/Edit" class="flex flex-grow p-5 h-full w-full">
    <app-hierarchy-new-tab #HierarchyNewTabComponent [modelList]="modelList" />
  </mat-tab>
</mat-tab-group>