.container {
  width: 300px;
  height: 300px;
  padding: 10px;
}

.close {
  right: 0px;
  position: absolute;
  top: 2px;
}

.mat-mdc-icon-button ::ng-deep .mat-mdc-button-persistent-ripple {
  display: none;
}
