.container {
    width: 870px;
    height: 600px;
    padding: 10px;
    @apply flex flex-col justify-start;
}

.content {
    height: 650px;
    overflow-y: auto;
}

.footer {
    @apply p-2 flex flex-row-reverse justify-start;
}