<div class="outer">
  <button mat-icon-button color="transparent" class="close" (click)="onClose()">
    <mat-icon>close</mat-icon>
  </button>
  <label class="text-secondary-dark m-2 font-bold text-lg">Upload Status</label>
  <div class="container">
    <sp-data-grid
      page="status"
      class="w-full h-full"
      #dataGrid
      title="Upload Status"
      [enableRowIndex]="false"
      [isArray]="false"
      [headers]="headers"
      [rows]="rows"
      [rowHeight]="40"
      [headerHeight]="40"
      [footerHeight]="40"
      [columnMode]="columnMode"
      [virtualScroll]="true"
      [selectionType]="selectionType"
      [limit]="10"
      [isExternalPaging]="true"
      [isExternalSorting]="false"
      [sortType]="sortType"
      [count]="totalElements"
      (itemSelected)="onItemSelected($event)"
      (downloadErrorExcel)="viewError()"
    >
     <!-- <sp-header-action
            [disabled]="!selectedItem"
            icon="visibility"
            (actionClick)="viewError()"
          ></sp-header-action> -->
    </sp-data-grid>

  </div>
</div>
